{% extends 'root.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->

            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="row">
                  <div class="col-10">
                    <h2 class="text-muted">Administrators Details</h2>
                  </div>
                  <div class="col-2">
                    <a class="btn btn-lg btn-secondary" href="{% url 'add_administrator' %}" role="button">Add Administrator</a>
                  </div>
              </div><br />
                <div class="display_table">
                    <table class='table table-bordered'>
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Role</th>
                          <th>Phone</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      {% for administrator in administrators %}
                      <tbody>
                        <tr>
                          <td>{{ administrator.admin_id }}</td>
                          <td>{{ administrator.first_name }}</td>
                          <td>{{ administrator.last_name }}</td>
                          <td>{{ administrator.role }}</td>
                          <td>{{ administrator.contact_no }}</td>
                          <td>
                              <!-- Add your action buttons here -->
                              <a href="" class="btn btn-warning">Edit</a>
                              
                          </td>
                        </tr>
                      </tbody>
                      {% endfor %}
                    </table>
            </form>
                
                  </table>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}