{% extends 'root.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->

            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="row">
                  <div class="col-10">
                    <h2 class="text-muted">Matches Details</h2>
                  </div>
              </div><br />
                <div class="display_table">
                    <table class='table table-bordered'>
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Date Played</th>
                          <th>Home Team</th>
                          <th>Away Team</th>
                          <th>Venue</th>
                          <th>Game Type</th>
                          <th>Result</th>
                        </tr>
                      </thead>
                      {% for match in matches %}
                      <tbody>
                        <tr>
                          <td>{{ match.match_id }}</td>
                          <td>{{ match.date }}</td>
                          <td>{{ match.home_team }}</td>
                          <td>{{ match.away_team }}</td>
                          <td>{{ match.venue }}</td>
                          <td>{{ match.game_type }}</td>
                          <td>{{ match.result }}</td>
                        </tr>
                      </tbody>
                      {% endfor %}
                    </table>
            </form>
                
                  </table>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}