{% extends 'root.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->

            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="row">
                  <div class="col-10">
                    <h2 class="text-muted">Players Attendance</h2>
                  </div>
              </div><br />
                <div class="display_table">
                    <table class='table table-bordered'>
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Player ID</th>
                          <th>Training_Session ID</th>
                          <th>Staff ID</th>
                          <th>Date</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      {% for player in player_attendance_session %}
                      <tbody>
                        <tr>
                          <td>{{ player.attendance_id }}</td>
                          <td>{{ player.player_id }}</td>
                          <td>{{ player.training_session_id }}</td>
                          <td>{{ player.staff_id }}</td>
                          <td>{{ player.date }}</td>
                          <td>{{ player.status }}</td>
                          <td>
                            <!-- Add your action buttons here -->
                            <a href="" class="btn btn-secondary">Update</a>
                            <a href="" class="btn btn-danger">Delete</a>
                            
                        </td>
                        </tr>
                      </tbody>
                      {% endfor %}
                    </table>
            </form>
                
                  </table>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}