{% load static %}
<aside class="app-navbar">
    <!-- begin sidebar-nav -->
    <div class="sidebar-nav scrollbar scroll_light">
        <ul class="metismenu " id="sidebarNav">
            
            <li class="nav-static-title">General</li>
            <li><a href="{% url 'coachDashboard' %}" aria-expanded="false"><i class="nav-icon ti ti-rocket"></i><span class="nav-title">Coach Dashboard</span></a> </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-user"></i> <span class="nav-title">Players</span></a>
                <ul aria-expanded="false">
                    <li> <a href="{% url 'coach_players' %}">Players Details</a> </li>
                    <li> <a href="{% url 'coach_player_team' %}">Player Team</a> </li>
                    <li> <a href="{% url 'coach_player_matches' %}">Player Matches</a> </li>
                    <li> <a href="{% url 'coach_player_injuries' %}">Player Injuries</a> </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-user"></i> <span class="nav-title">Staff</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'administrators' %}" aria-expanded="false"><span class="nav-title">Aministrators</span></a> </li>
                    <li><a href="{% url 'staff' %}" aria-expanded="false"><span class="nav-title">Other Staff</span></a> </li>
                </ul>
            </li>

            <li><a href="{% url "teams" %}" aria-expanded="false"><i class="nav-icon ti ti-bag"></i><span class="nav-title">Teams</span></a> </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-bag"></i> <span class="nav-title">Matches & Sessions</span></a>
                <ul aria-expanded="false">
                    <li> <a href="{% url 'matches' %}">Matches</a> </li>
                    <li> <a href="{% url 'sessions' %}">Training Sessions</a> </li>
                </ul>
            </li>
            
            <li class="nav-static-title">Administration</li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-bag"></i> <span class="nav-title">Feedback</span></a>
                <ul aria-expanded="false">
                    <li>
                        <li>
                            <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><span class="nav-title">Players Feedback</span></a>
                            <ul aria-expanded="false">
                                <li> <a href="{% url 'player_feedback_session' %}">Session Feedback</a> </li>
            
                                <li> <a href="{% url 'player_feedback_match' %}">Game Feedback</a> </li>
                            </ul>
                        </li> 
                    </li>

                    <li>
                        <li>
                            <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><span class="nav-title">Staff Feedback</span></a>
                            <ul aria-expanded="false">
                                <li> <a href="{% url 'staff_feedback_session' %}">Session Feedback</a> </li>
            
                                <li> <a href="{% url 'staff_feedback_match' %}">Game Feedback</a> </li>
                            </ul>
                        </li>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-key"></i> <span class="nav-title">Users</span></a>
                <ul aria-expanded="false">
                    <li> <a href="widget-chart.html">Administrators</a> </li>

                    <li> <a href="widget-list.html">Department</a> </li>

                    <li> <a href="widget-social.html">Business Office</a> </li>

                    <li> <a href="widget-social.html">Cashier Office</a> </li>

                </ul>
            </li>
            {% comment %} <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-layout-column3-alt"></i> <span class="nav-title">R</span></a>
                <ul aria-expanded="false">
                    <li> <a href="widget-chart.html">Pending Reports</a> </li>

                    <li> <a href="widget-list.html">Complete Reports</a> </li>

                    <li> <a href="widget-social.html">Pending Requisition</a> </li>

                    <li> <a href="widget-social.html">Completed Requisition</a> </li>

                </ul>
            </li> {% endcomment %}
            {% comment %} <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-pie-chart"></i> <span class="nav-title"></span></a>
                <ul aria-expanded="false">
                    <li> <a href="widget-chart.html">Pending Reports</a> </li>

                    <li> <a href="widget-list.html">Complete Reports</a> </li>

                    <li> <a href="widget-social.html">Pending Requisition</a> </li>

                    <li> <a href="widget-social.html">Completed Requisition</a> </li>

                </ul>
            </li> {% endcomment %}

            <li><a href="" aria-expanded="false"><i class="nav-icon ti ti-key"></i><span class="nav-title">Logout</span></a> </li>
        </ul>
    </div>
    <!-- end sidebar-nav -->
</aside>