{% extends 'coachroot.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->

            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="row">
                  <div class="col-10">
                    <h2 class="text-muted">Player Team Details</h2>
                  </div>
                  <div class="col-2">
                    <a class="btn btn-lg btn-secondary" href="{% url 'coach_add_player_team' %}" role="button">Add Player Team</a>
                  </div>
              </div><br />
                <div class="display_table">
                    <table class='table table-bordered'>
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Team ID</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      {% for player_team in coach_player_team %}
                      <tbody>
                        <tr>
                          <td>{{ player_team.player_id }}</td>
                          <td>{{ player_team.team_id }}</td>
                          <td>{{ player_team.start_date }}</td>
                          <td>{{ player_team.end_date }}</td>
                          <td>
                              <!-- Add your action buttons here -->
                              <a href="" class="btn btn-secondary">Update</a>
                              <a href="" class="btn btn-danger">Delete</a>
                              
                          </td>
                        </tr>
                      </tbody>
                      {% endfor %}
                    </table>
            </form>
                
                  </table>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}