{% extends 'coachroot.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->

            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="row">
                  <div class="col-10">
                    <h2 class="text-muted">Matches Details</h2>
                  </div>
                  <div class="col-2">
                    <a class="btn btn-lg btn-secondary" href="{% url 'coach_add_match' %}" role="button">Add Match</a>
                  </div>
              </div><br />
                <div class="display_table">
                    <table class='table table-bordered'>
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Date Played</th>
                          <th>Home Team</th>
                          <th>Away Team</th>
                          <th>Venue</th>
                          <th>Game Type</th>
                          <th>Result</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      {% for match in coach_matches %}
                      <tbody>
                        <tr>
                          <td>{{ match.match_id }}</td>
                          <td>{{ match.date }}</td>
                          <td>{{ match.home_team }}</td>
                          <td>{{ match.away_team }}</td>
                          <td>{{ match.venue }}</td>
                          <td>{{ match.game_type }}</td>
                          <td>{{ match.result }}</td>
                          <td>
                              <!-- Add your action buttons here -->
                              <a href="" class="btn btn-secondary">Update</a>
                              <a href="" class="btn btn-danger">Delete</a>
                              
                          </td>
                        </tr>
                      </tbody>
                      {% endfor %}
                    </table>
            </form>
                
                  </table>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}